.gridStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    width: 300px;
    padding: 10px;
}

.cellStyle {
    aspect-ratio: 1;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    flex-direction: column;
}

.cellStyle:hover {
    background-color: #e0e0e0;
}

.characterStyle {
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
}

.enemy .characterStyle {
    background-color: #3b3534;
}

.characterStyle.active {
    box-shadow: 0 0 10px #FFD700;
}

.enemy .characterStyle.targetable {
    box-shadow: 0 0 10px #36e278;
}

.cellStyle[style*="pointer"] .characterStyle:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.healthbar {
    width: 100%;
    height: 10px;
    border: 2px solid #f44336;
    border-radius: 5px;
    overflow: hidden;
    font-size: .4em;
    margin-top: .8em;
    width: 90%;
}
.healthbarFill {
    background-color: #f44336;
    height: 100%;
}

.healthbarText {
    margin-top: -10px;
    position: relative;
}

.characterNameStyle {
    font-size: 0.8em;
    color: #333;
    text-align: center;
}